<html>
<head>
    <meta charset="utf-8">
    <title>employees</title>
</head>
<body>
    <div>
        Добавить сотрудника
        (birthday *; firstWorkDay *)
    </div>
    <br>
    <div>
        <form method="post" action="employees">
            <input type="date" name="birthday" placeholder="Дата рождения"/>
            <input type="date" name="firstWorkDay" placeholder="Дата первого рабочего дня">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <form method="get" action="employees/filter">
        <input type="date" name="filter">
        <button type="submit">Найти</button>
    </form>
    <div>Список сотрудников</div>


    <table cellpadding="3px" border="solid">
        <tr>
            <th>id</th>
            <th>birthday</th>
            <th>firstWorkDay</th>
        </tr>
        {{#employees}}

            <tr>
                <td><b>{{id}}</b></td>
                <td>       <span>{{birthday}}</span></td>
                <td>        <i>{{firstWorkDay}}</i></td>
            </tr>

        {{/employees}}
    </table>


</body>

<br>
<div>Полезные ссылки</div>

<p><a href="http://localhost:8080">* Домой</a></p>
<p><a href="http://localhost:8080/vacancies">* Вакансии</a></p>
<p><a href="http://localhost:8080/employees">* Сотрудники</a></p>
<p><a href="http://localhost:8080/countries">* Страны</a></p>
<p><a href="http://localhost:8080/companies">* Компании</a></p>
</html>